/*
    **color schema darkest to brightest
    rgb(29, 97, 122)
    rgb(97, 194, 162)
    rgb(190, 217, 209)
    rgb(200, 232, 215)
    rgb(219, 239, 225)

*/


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


#main-background {
    height: 100%;
    width: 100%;
    background-image: url("../images/main-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

#form-container {
    height: auto;
    width: 400px;
}

.centre-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 2rem;
}

.container h3, .container label {
    font-size: 1.3rem;
}

.container input {
    padding: 5px;
}

.container table {
    margin: auto;
}






